@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600");

$gap: 10px;
$navbar-app-height: 5vh;
$navbar-board-height: 6vh;
$board-content-height: 88vh;

$board-bg-color: #0079bf;
$column-bg-color: #ebecf0;
$app-main-text-color: #333;
$common-element-bg: rgba(255, 255, 255, 0.24);
$alert-danger: #ee5253;

$column-border-radius: 4px;
