@import "./setting";

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  line-height: 1.3em;
}

.trello-hoangns-master {
  height: 100vh;
  overflow: hidden;

  background-color: $board-bg-color;
}
